{
  "version": 9.0,
  "project": "JavaVulnerableLab_CxFlow",
  "team": "/CxServer/JVL"
},
"sast": {
  "preset": "ASA Premium",
  "engineConfiguration": "",
  "incremental": "false", 
  "forceScan": "true", 
  "fileExcludes": "*.pyc, *.test, *.class, *.log",
  "folderExcludes": "*test, out/, *bin"
},
"additionalProperties": {
   "cxFlow": {
       "application": "JavaVulnerableLab_CxFlow"
       "vulnerabilityScanners": ["sast"],
       "bugTracker": "JIRA",
       "jira": {
	 "url": "https://bearj.atlassian.net",
	 "username": "jallaton@gmail.com",
	 "token": "LsXF3GmkmHinVOSmOfZo1079",
         "project": "JVLSAST",
         "issue_type": "Bug",
         "assignee": "je",
         "open_status": ["In Progress","TO DO"],
         "close_status": ["Closed","Done"],
         "open_transition": "In Progress",,
         "close_transition_value": "Done",
         "priorities": {
          "High": "High",
          "Medium": "Medium",
          "Low": "Low"
         },
	 "filters": {
		"severity": ["High"],
		"status": ["New", "Recurring"],
	 },
	 "fields": [
          {
	    "type": "result",
	    "name": "application",
            "jira_field_name": "Application",
            "jira_field_type": "label"
          },
    	  {
            "type": "result",
            "name": "category",
            "jira_field_name": "Category",
            "jira_field_type": "label"
          }
	]
    }	   
  }
}
