{
  "version": 1.0,
  "project": "JavaVulnerableLab_CxFlow",
  "team": "/CxServer/JVL",
  "sast": {
    "preset": "ASA Premium",
    "engineConfiguration": "",
    "incremental": "false", // values: "true" or "false"
    "forceScan": "true", // values: "true" or "false"
    "fileExcludes": "*.pyc, *.test, *.class, *.log",
    "folderExcludes": "*test, out/, *bin"
  }
}
