{
  "version": 1.0,
  "project": "JavaVulnerableLab_CxFlow",
  "team": "/CxServer/JVL"
},
"sast": {
  "preset": "ASA Premium",
  "engineConfiguration": "",
  "incremental": "false", 
  "forceScan": "true", 
  "fileExcludes": "*.pyc, *.test, *.class, *.log",
  "folderExcludes": "*test, out/, *bin"
},
"additionalProperties": {
   "cxFlow": {
       "application": "JavaVulnerableLab_CxFlow"
       "vulnerabilityScanners": ["sast"]
   }
}
